<p>
  Hi <%= @order.customer.first_name %> <%= @order.customer.last_name %>, <br />
  We're happy to let you know that your order has been accepted!
</p>

<p>Your order:</p>
<%= render "trolley.html", trolley: @order.trolley %>


<p>
  The order was received on the
  <%= Bakery.DatetimeFormat.format_utc_date(@order.inserted_at) %>
  at <%= Bakery.DatetimeFormat.format_utc_time(@order.inserted_at) %>.
</p>

<%= if @order.is_delivery == true do %>
  <p>
    It will be delivered on the
    <%= @order.delivery.delivery_date |> Bakery.DateFormat.format_date() %>
    between
    <%= String.pad_leading("#{@order.delivery.time_slot}", 2, "0") %>:00
    and
    <%= String.pad_leading("#{@order.delivery.time_slot + 1}", 2, "0") %>:00
    at the address below:
  </p>
  <address>
    <%= @order.customer.address1 %><br />
    <%= @order.customer.address2 %><br />
    <%= @order.customer.city %><br />
    <%= @order.customer.county %><br />
  </address>
<% else %>
  <p>
    It can be collected on the
    <%= @order.delivery.delivery_date |> Bakery.DateFormat.format_date() %>
    between
    <%= String.pad_leading("#{@order.delivery.time_slot}", 2, "0") %>:00
    and
    <%= String.pad_leading("#{@order.delivery.time_slot + 1}", 2, "0") %>:00.
  </p>

<% end %>

<p>
  In case we need to contact you, we have this number saved: <%= @order.customer.phone %>
</p>

<%= if @order.payment.type == "cash" do %>
  <h3>
    Please have the exact change ready to limit social interactions when delivering your order.
  </h3>
<% end %>

<%= if @order.message !== "" do %>
  <p>Message from the baker:</p>
  <p><%= @order.message %></p>
<% end %>
