<p>
  Hi <%= @order.customer.first_name %> <%= @order.customer.last_name %>, <br />
  We're sorry to inform you that your order has been declined.
</p>

<p>Your order:</p>
<%= render "trolley.html", trolley: @order.trolley %>

<%= if @order.message !== "" do %>
  <p>Message from the baker:</p>
  <p><%= @order.message %></p>
<% end %>
