<p>
  Hi <%= @order.customer.first_name %> <%= @order.customer.last_name %>, <br />

  Thank you for your order!<br />

  We received an order from you at <%= Bakery.Settings.get_setting_by_name!("frontend_url").value %> with the following items:
</p>

<%= render "trolley.html", trolley: @order.trolley %>

<p>The order was received on the
  <%= Bakery.DatetimeFormat.format_utc_date(@order.inserted_at) %>
  at <%= Bakery.DatetimeFormat.format_utc_time(@order.inserted_at) %>.
  It will be delivered on the
  <%= @order.delivery.delivery_date |> Bakery.DateFormat.format_date() %>
  between
  <%= String.pad_leading("#{@order.delivery.time_slot}", 2, "0") %>:00
  and
  <%= String.pad_leading("#{@order.delivery.time_slot + 1}", 2, "0") %>:00
  at the address below:
</p>

<address>
<%= @order.customer.address1 %><br />
<%= @order.customer.address2 %><br />
<%= @order.customer.city %><br />
<%= @order.customer.county %><br />
</address>

<p>In case we need to contact you, we have this number saved: <%= @order.customer.phone %></p>

<h3>Please have the exact change ready to limit social interactions when delivering your order.</h3>

<a href="<%= Bakery.Settings.get_setting_by_name!("frontend_url").value %>/orders/<%= @order.id %>/<%= @confirmation_order.confirmation_key %>">
  <button>Confirm order</button>
</a>

<p>If you did not make this order, you can ignore this email.</p>
