<h3>A message was just received</h3>

<p>
  From: <%= @message.name %>
  <br />
  Email: <%= @message.email %>
</p>

<p>Message: <%= @message.message %></p>

<a href="<%= @admin_url %>/messages">View messages</a>
