<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @trolley.items do %>
      <tr>
        <td>
          <%= if not is_nil(item.product_id) do %>
            <strong><%= item.product.name %></strong>
          <% else %>
            <strong><%= item.special_offer.name %></strong>
            <br />
            Content:
            <ul>
              <%= for %{:product => product, :quantity => quantity} <- Bakery.Products.group_by_product(item.special_offer.products) do %>
                <li><%= product.name %> x<%= quantity %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td><%= item.unit_price %></td>
        <td><%= item.quantity %></td>
        <td><%= Bakery.Trolleys.calculate_trolley_item_price(item) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Delivery</td>
      <td></td>
      <td></td>
      <td><%= @trolley.delivery_price %></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td><%= Bakery.Trolleys.calculate_trolley_total(@trolley) %></td>
    </tr>
  </tbody>
</table>
