<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <style>
      table {
        background: #fff;
        margin: 1em 0;
        margin-top: 1em;
        margin-bottom: 1em;
        border: 1px solid rgba(34,36,38,.15);
        box-shadow: none;
        border-radius: .28571429rem;
        text-align: left;
        color: rgba(0,0,0,.87);
        border-collapse: separate;
        border-spacing: 0;
      }

      th {
        background: #f9fafb;
        color: rgba(0,0,0,.87);
        padding: .92857143em .78571429em;
        font-weight: 700;
        border-bottom: 1px solid rgba(34,36,38,.1);
      }

     td {
       padding: .78571429em .78571429em;
     }
     button {
       cursor: pointer;
       display: inline-block;
       min-height: 1em;
       outline: 0;
       border: none;
       vertical-align: baseline;
       background: #e0e1e2 none;
       margin: 0 .25em 0 0;
       padding: .78571429em 1.5em;
       font-weight: 700;
       line-height: 1em;
       text-align: center;
       text-decoration: none;
       border-radius: .28571429rem;
       -webkit-tap-highlight-color: transparent;
       background-color: #21ba45;
       color: #fff;
       text-shadow: none;
     }
     hr {
       border: 1px solid;
       width: 50%;
       float: left;
     }
    </style>
  </head>
  <body>
    <%= @inner_content %>
    <div style="clear: both">
      <hr />
    </div>
    <p style="clear: both">
      Francois' Bakery. Website:
      <a href="<%= Bakery.Settings.get_setting_by_name!("frontend_url").value %>">
        <%= Bakery.Settings.get_setting_by_name!("frontend_url").value %>
      </a>
    </p>
    <p>
      Check us out on
      <a href="<%= Bakery.Settings.get_setting_by_name!("instagram_url").value %>">Instagram</a>
    </p>
  </body>
</html>
